@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: oklch(0.675 0.1852 307.08);
  --font-sans: var(--font-grotesk);
  --font-mono: var(--font-jetbrains);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  cursor: default;
}

.test {
  @apply border border-red-500;
}
